* {
    font-family: 'Roboto Mono', monospace;   
}

body, html {
    /*background: #cfcad1;*/
    height: 100%;
    /* pallete swatches
        #1c2729 black
        #3c6da7 teal
        #9d90be taro
        #d7d4f1 grey
        #2f2d3b black
        #5e4d9b dark veri peri
        #9389bd purple
        #6768ab veri peri
        #cfcad1 grey
    */
}

#app {
  -moz-osx-font-smoothing: grayscale;
}

.home, .profile, .contact, .project h1 {
    margin: 20px;
    font-style: bold;
}

.navbar {
    background-color: #2f2d3b;
    box-shadow: 0px 2px 5px #6768ab;
}
.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.home {
    color: #2f2d3b;
    margin: auto;  
}

.home .hero {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://live.staticflickr.com/65535/51840110541_2d34d3329a_z.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative; 
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-button {
    background-color: #1c2729;
    color: white;
    border: 1px solid #1c2729;
    margin-top: 3rem;
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    border-radius: 40px;
}
.hero-button:hover {
    background-color: #5e4d9b;
    border: 1px solid #5e4d9b;
}